doctype html
html
  head
    meta(charset='utf-8')
    title Rabbit Chicken AK47
    script(src='js/aframe-v0.5.0.js')
    // components
    script(src='js/aframe-alongpath-component.js')
    script(src='js/aframe-animation-component.js')
    script(src='js/aframe-curve-component.js')
    script(src='js/aframe-event-set-component.js')
    // kinematic body TODO use
    script(src='js/aframe-extras.misc.js') 
    // ocean
    script(src='js/aframe-extras.primitives.js') 
    script(src='js/aframe-look-at-component.js') 
    // TODO use
    script(src='js/aframe-physics-system.js')
    // typo in filename
    script(src='js/aframe-randomizer-components.js') 
    script(src='js/aframe-text-geometry-component.js')
    script(src='js/event-proxy.js')
    script(src='js/gradientsky.js')
    // my components
    // script(src='js/aframe-follow-component.js')
    script(src='js/follow.js')
    script(src='js/aframe-gamelogic-component.js')
  body
    a-scene.fullscreen
      a-assets
        a-asset-item#mod_ak47(src='assets/models/AK-47.obj')
        a-asset-item#mod_rabbit(src='assets/models/rabbit-lowpoly.dae')
        a-asset-item#mod_chick(src='assets/models/chick-lowpoly.dae')
        image#heart(src='assets/textures/heart.png')
        a-asset-item#tree-obj(src='assets/models/lowpolytree.obj')
        a-asset-item#tree-mtl(src='assets/models/lowpolytree.mtl')          
        a-mixin#tree(obj-model='obj: #tree-obj; mtl: #tree-mtl', scale='2 2 2', random-position='min: -18 0 -18; max: 18 0 18')
        // generated with http://gero3.github.io/facetype.js/
        a-asset-item#comic-sans-bold(src='assets/fonts/ComicSansMS_Bold.json')
      a-entity#gamelogic(gamelogic)
      a-curve#track1
        a-curve-point(position='0 76 6.15')
        a-curve-point(position='0 76 4.15')
        a-curve-point(position='0 76 0.15')
        a-curve-point(position='0 76 -4.15')
        a-curve-point(position='0 76 -12.15')
        a-curve-point(position='0 76 -18.15')
      a-curve#track2
        a-curve-point(position='0 76 -18.15')
        a-curve-point(position='0 62 -18')
        a-curve-point(position='0 31 -18.15')
        a-curve-point(position='0 -20 -17')
      a-entity#avatar(position='0 77 6.15')
        a-entity#rabbit.interactive(scale='0.3 0.3 0.3', rotation='0 90 0', collada-model='#mod_rabbit', event-set__follow='_event: click; _target: #gamelogic; gamelogic.state: follow')
        a-entity#followme(text-geometry='value: Follow Me; font: #comic-sans-bold', material='color: #FF11B4', position='-1.3 0.9 0', animation__osc='property: position; dur: 2200; easing: easeInOutSine; loop: true; to: -1.3 1.2 0')
      a-entity#player(position='0.78 75 11.8')
        a-camera#camera(look-controls wasd-controls="enabled: false")
          a-entity#cursor(cursor='fuse: true; fuseTimeout: 1500', raycaster='objects: .interactive', scale='1 1 1', position='0 0 -1', geometry='primitive: ring; radiusOuter: 0.07; radiusInner: 0.05;', material='color: rgb(15,0,255); opacity: 0.72; metalness: 0.64; roughness: 0.96')
            // bug in new animation system, using the old one
            a-animation(begin='fusing', end='mouseleave', easing='ease-in', attribute='scale', fill='forwards', from='1 1 1', to='0.1 0.1 0.1', dur='1500')
            a-animation(begin='click', end='mouseleave', easing='ease-in', attribute='scale', from='0.1 0.1 0.1', to='1 1 1', dur='150')
            a-animation(begin='mouseleave', easing='ease-in', attribute='scale', to='1 1 1', dur='10')
      a-entity#chicken(scale='90 90 90', position='0 -550 -550', rotation='0 180 0', collada-model='#mod_chick')
      a-entity#platform1(position='0 37 0')
        // y = (box height + cylinder height) / 2
        a-box(width='6', depth='6', height='72')
        a-cylinder(position='0 37 0', radius='12', height='2', color='green')      
      a-entity#platform2(position='46.91 33 -75.77')
        a-box(width='6', depth='6', height='64')
        a-cylinder(position='0 33 0', radius='12', height='2', color='red')
        a-box#heart(src='#heart', width='6', height='6', depth='0.2', position='0 39 0', animation__rot='property: rotation; dur: 12000; easing: linear; loop: true; to: 0 -360 0')
      a-entity#platform3(position='-30 27 -43.77')
        a-box(width='6', depth='6', height='52')
        a-cylinder(position='0 27 0', radius='12', height='2', color='blue')
        a-entity#ak47(position='0 29 0', obj-model='obj: #mod_ak47', animation__rot='property: rotation; dur: 14000; easing: linear; loop: true; to: 0 360 0')
      a-entity#platform4(position='30 15 30')
        a-box(width='6', depth='6', height='28')
        a-cylinder(position='0 15 0', radius='27', height='2', color='#3c2703', animation__rot='property: rotation; dur: 16000; easing: linear; loop: true; to: 0 360 0')
          a-entity#forest(position='0 5 0')
            // TODO use templates
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
            a-entity(mixin='tree')
      // a-entity#ocean(position='0 0 0')
      // a-ocean(width='550', depth='550', density='15', speed='2')
      a-gradient-sky#sky(material='shader: gradient; topColor: 255 0 0; bottomColor: 0 255;')
